body {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--font-color);
    background-color: var(--background-color);
    margin: 0;
    transition: background-color .3s ease;
}

.container {
    width: 100%;
    padding: 24px 20px 34px;

    @media (min-width: 768px) {
        padding: 34px 34px 54px;
    }

    @media (min-width: 1024px) {
        padding: 35px 42px 62px;
    }

    @media (min-width: 1366px) {
        padding: 35px 123px 100px;
    }
}

.button {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    outline: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;

    svg {
        width: 22px;
        height: 22px;
        path {
            fill: var(--font-color);
            transition: fill 0.3s ease;
        }
    }

    &--next, &--prev {
        svg {
            width: 8px;
            height: 13px;
        }
    }

    &--prev {
        transform: rotate(180deg);
    }

    &--double {
        svg {
            width: 13px;
            height: 13px;
        }
    }

    &.disabled,
    &:disabled {
        pointer-events: none;
         svg {
            path {
                opacity: 0.3;
            }
         }
    }
}


*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

.input {
    font-size: 14px;
    line-height: 16px;
    color: var(--font-color);
    background-color: var(--background-input);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: block;
    width: 100%;
    height: inherit;
    padding: 15px;
    appearance: none;
    outline: none;
    cursor: pointer;

    &::placeholder {
        color: var(--placeholder-color);
    }
}