body {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    background-color: #000000;
    margin: 0;

}

.container {
    width: 100%;
    padding: 24px 20px 34px;

    @media (min-width: 768px) {
        padding: 34px 34px 54px;
    }
}

.button {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    outline: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition-property: color, background-color, border-color, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    background-color: transparent;

    svg {
        width: 22px;
        height: 22px;
    }
}


*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

.input {
    background-color: #0C0C0C;
    border: 1px solid #FFFFFF;
    color: #ffffff;
    border-radius: 8px;
    display: block;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    height: inherit;
    padding: 15px;
    appearance: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 15px;

    &::placeholder {
        color: rgba(255, 255, 255, 0.3);
    }
}